name: "Yor IaC labelling"

permissions:
  contents: write

on:
  push:
    branches: [main]

jobs:
  yor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout repo
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - name: Run yor action and commit
        uses: bridgecrewio/yor-action@main
